* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body, html {
	color: #111;
	margin: 0;
	background-color: #11B4D8;
}

h1 {
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: midnightblue;
	font-size: 25px;
}

h2 {
	text-align: center;
	font-size: 20px;

}

p {
	padding: 5px;
}

a {
	color: midnightblue;
	text-decoration: none;
	transition: 300ms;
	border-bottom: 1px solid transparent;
}

a:hover {
	border-color: black;
	
}

/* Page layout */

.page {
	display: grid;
	grid-template-columns: 20% 1fr 1fr;
  	grid-template-rows: 100px 0.5fr auto 100px;
  	/* We now have 3x3 cells, here is where each section is placed */
  	grid-template-areas:
	"nav nav nav"
    "header header header"  /* a header stretching in the top row */
    "main main main"  /* a left sidebar, and our app content */
    "footer footer footer"; /* and a footer along the bottom row  */
}


nav {
	grid-area: nav;
	background-color: #11B4D8;
}

nav h1 {
	text-align: left;
}


header {
	grid-area: header;
}

main {
	grid-area: main;
	padding: 50px 50px 0 50px;
}

footer {
	grid-area: footer;
}

/* Home page */

.hero {
	background: url('cows-grass.jpg') center;
	background-size: cover;
	padding: 4rem 2rem;
}

.hero-text {
	margin: 300px auto 0px auto;
	background-color: rgba(118, 159, 182, 0.8);
	padding: 10px;
}

.barn-button {
	background-color: #188FA7;
	width: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	border: 2px solid black;
	box-shadow: 1px 2px grey;
}





.navigation-items {
	display: flex;
	justify-content: flex-end;
}

.navigation-items li {
	display: inline;
	padding: 10px;
	font-size: 20px;
}

.navigation-items a {
	text-decoration: none;
	color: #111;
}


/* Homepage */





.about-text {
	text-align: center;
}
.about-image {
	width: 250px;
	display: block;
	margin: 0 auto;
}

input, textarea{
	display: block;
}

form #message {
	width: 400px;
	height: 200px;
}

#fav-cow {
	display: block;
}


footer {
	font-size: 14px;
	margin: 10px 0px;
	padding-top: 50px;
	text-align: right;
}


/** Media queries
*/

  @media (min-width: 1024px) {
	p, li {
		font-size: 0.8em;
		line-height: 20px;
	}
  }

